<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nomina-heading" jhiTranslate="gimnasioApp.nomina.home.createOrEditLabel">Create or edit a Nomina</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.nomina.iban" for="field_iban">Iban</label>
                    <input type="text" class="form-control" name="iban" id="field_iban"
                           formControlName="iban"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.nomina.tipoContrato" for="field_tipoContrato">Tipo Contrato</label>
                    <select class="form-control" name="tipoContrato" formControlName="tipoContrato" id="field_tipoContrato">
                        <option value="Temporal">{{'gimnasioApp.TipoNomina.Temporal' | translate}}</option>
                        <option value="Indefinido">{{'gimnasioApp.TipoNomina.Indefinido' | translate}}</option>
                        <option value="Practicas">{{'gimnasioApp.TipoNomina.Practicas' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="modal.close('Close nomina-update')">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
