<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.nomina.home.title">Nominas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nomina" [routerLink]="['/nomina/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.nomina.home.createLabel">
            Create new Nomina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nominas">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iban"><span jhiTranslate="gimnasioApp.nomina.iban">Iban</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipoContrato"><span jhiTranslate="gimnasioApp.nomina.tipoContrato">Tipo Contrato</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nomina of nominas ;trackBy: trackId">
                <td><a [routerLink]="['/nomina', nomina.id, 'view' ]">{{nomina.id}}</a></td>
                <td>{{nomina.iban}}</td>
                <td jhiTranslate="{{'gimnasioApp.TipoNomina.' + nomina.tipoContrato}}">{{nomina.tipoContrato}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/nomina', nomina.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nomina', nomina.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'nomina', { outlets: { popup: nomina.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nominas && nominas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
