<div class="modal-header justify-content-center">
    <h2>
        <span class="title-pages" jhiTranslate="gimnasioApp.nomina.detail.title">Nomina</span>
        <span style="color: red;">{{nomina.tipoContrato}}</span>
    </h2>
</div>
<div class="modal-body row justify-content-center">
    <div class="col-8">
        <div *ngIf="nomina">
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gimnasioApp.nomina.iban">Iban</span></dt>
                <dd>
                    <span>{{nomina.iban}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.nomina.tipoContrato">Tipo Contrato</span></dt>
                <dd>
                    <span jhiTranslate="{{'gimnasioApp.TipoNomina.' + nomina.tipoContrato}}">{{nomina.tipoContrato}}</span>
                </dd>
            </dl>

            <div class="modal-footer justify-content-center">
                <button type="button"
                        (click)="modal.close('Close-nomina')"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <!-- <button type="button"
                        (click)="editar(nomina)"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button> -->
            </div>

        </div>
    </div>
</div>
