<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.nomina.home.title" class="title-pages">Nominas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nomina" [routerLink]="['/nomina/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.nomina.home.createLabel">
            Create new Nomina
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nominas">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>#</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="iban"><span jhiTranslate="gimnasioApp.nomina.iban">Iban</span> <fa-icon [icon]="'info-circle'" class="hovertext" data-hover="La cuenta bancaria del empleado"></fa-icon></th>
            <th jhiSortBy="tipoContrato"><span jhiTranslate="gimnasioApp.nomina.tipoContrato">Tipo Contrato</span> <fa-icon [icon]="'info-circle'" class="hovertext" data-hover="El método del contrado, si es mensual, temporal o prácticas"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nomina of nominas ;trackBy: trackId">
                <td>{{nomina.id}}</td>
                <td>{{nomina.iban}}</td>
                <td jhiTranslate="{{'gimnasioApp.TipoNomina.' + nomina.tipoContrato}}">{{nomina.tipoContrato}}</td>
                <td>
                    <div class="btn-group" ngbDropdown>
                            <button type="button" class="btn btn-info dropdown-toggle btn-info" data-toggle="dropdown"  aria-expanded="false" ngbDropdownToggle>
                                <fa-icon [icon]="'ellipsis-v'"></fa-icon>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button
                                        class="dropdown-item">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button
                                        class="dropdown-item">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'nomina', { outlets: { popup: nomina.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nominas && nominas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
