<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.claseCliente.home.title" class="title-page">Clase Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-clase-cliente" [routerLink]="['/clase-cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.claseCliente.home.createLabel">
            Create new Clase Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="claseClientes">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th></th>
            <th jhiSortBy="clienteId"><span jhiTranslate="gimnasioApp.claseCliente.cliente">Cliente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="claseId"><span jhiTranslate="gimnasioApp.claseCliente.clase">Clase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let claseCliente of claseClientes ;trackBy: trackId">
                <td></td>
                <td>
                    <div *ngIf="claseCliente.clienteId">
                        <!-- <span>{{claseCliente.clienteId}}</span> -->
                        <a [routerLink]="['../cliente', claseCliente.clienteId , 'view' ]" >{{claseCliente.clienteId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="claseCliente.claseId">
                        <span>{{claseCliente.claseId}}</span>
                        <!-- <a [routerLink]="['../clase', claseCliente.claseId , 'view' ]" >{{claseCliente.claseId}}</a> -->
                    </div>
                </td>
                <td>
                    <div class="btn-group" ngbDropdown>
                            <button type="button" class="btn btn-info dropdown-toggle btn-info" data-toggle="dropdown"  aria-expanded="false" ngbDropdownToggle>
                                <fa-icon [icon]="'ellipsis-v'"></fa-icon>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button
                                        class="dropdown-item">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button
                                        class="dropdown-item">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'claseCliente', { outlets: { popup: claseCliente.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="claseClientes && claseClientes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
