<div class="modal-header justify-content-center">
  <h2><span jhiTranslate="gimnasioApp.incidencia.detail.title" class="title-pages">Incidencia</span> <span style="color: red;">{{ incidencia.nombre }}</span></h2>
</div>
<div class="modal-body">
  <jhi-alert-error></jhi-alert-error>
  <dl class="row-md jh-entity-details">
    <dt><span jhiTranslate="gimnasioApp.incidencia.nombre">Nombre</span></dt>
    <dd>
      <span>{{ incidencia.nombre }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.incidencia.descripcion">Descripcion</span></dt>
    <dd>
      <span>{{ incidencia.descripcion }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.incidencia.clase">Clase</span></dt>
    <dd>
      <div *ngIf="incidencia.claseId">
        <span>{{ incidencia.claseId }}</span>
        <!-- <a [routerLink]="['/clase', incidencia.claseId, 'view']">{{ incidencia.claseId }}</a> -->
      </div>
    </dd>
  </dl>
  <div class="modal-footer justify-content-center">
    <button button="button" (click)="modal.close('Back')" class="btn btn-info">
      <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <!-- <button type="button"
            (click)="editar(incidencia)"
            class="btn btn-primary">
      <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button> -->
  </div>
</div>
