<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.incidencia.home.title" class="title-pages">Incidencias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incidencia" (click)="editar(incidencia)">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.incidencia.home.createLabel">
            Create new Incidencia
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="incidencias">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nombre"><span jhiTranslate="gimnasioApp.incidencia.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="gimnasioApp.incidencia.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="claseId"><span jhiTranslate="gimnasioApp.incidencia.clase">Clase</span> <fa-icon [icon]="'info-circle'" class="hovertext" data-hover="Clase Id"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incidencia of incidencias ;trackBy: trackId">
                <td>{{incidencia.nombre}}</td>
                <td>{{incidencia.descripcion}}</td>
                <td>
                    <div *ngIf="incidencia.claseId">
                        <span>{{incidencia.claseId}}</span>
                        <!-- <a [routerLink]="['../clase', incidencia.claseId , 'view' ]" >{{incidencia.claseId}}</a> -->
                    </div>
                </td>
                <td>
                    <div class="btn-group" ngbDropdown>
                            <button type="button" class="btn btn-info dropdown-toggle btn-info" data-toggle="dropdown"  aria-expanded="false" ngbDropdownToggle>
                                <fa-icon [icon]="'ellipsis-v'"></fa-icon>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button
                                        class="dropdown-item">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button (click)="editar(incidencia)"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'incincidencia', { outlets: { popup:incidencia.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="incidencias && incidencias.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
