<div class="modal-header">
    <h2><span jhiTranslate="gimnasioApp.incidencia.detail.title">Incidencia</span> {{incidencia.id}}</h2>
</div>
<div class="modal-body">

    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gimnasioApp.incidencia.nombre">Nombre</span></dt>
        <dd>
            <span>{{incidencia.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="gimnasioApp.incidencia.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{incidencia.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="gimnasioApp.incidencia.clase">Clase</span></dt>
        <dd>
            <div *ngIf="incidencia.claseId">
                <a [routerLink]="['/clase', incidencia.claseId, 'view']">{{incidencia.claseId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
    (click)="previousState()"
    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
            [routerLink]="['/incidencia', incidencia.id, 'edit']"
            class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>

</div>
