<div class="modal-header justify-content-center">
  <h2 id="jhi-empleado-heading" jhiTranslate="gimnasioApp.empleado.home.createOrEditLabel" class="title-pages">Create or edit a Empleado</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"><fa-icon [icon]="'times'"></fa-icon></button>

</div>
<div class="modal-body">
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div>
      <jhi-alert-error></jhi-alert-error>
      <h4>Información:</h4>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.dni" for="field_dni">Dni</label>
        <input type="text" class="form-control" name="dni" id="field_dni" formControlName="dni" />
        <div *ngIf="editForm.get('dni').invalid && (editForm.get('dni').dirty || editForm.get('dni').touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('dni').errors.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.nombre" for="field_nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="field_nombre" formControlName="nombre" />
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.apellido" for="field_apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" id="field_apellido" formControlName="apellido" />
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.fechaNacimiento" for="field_fechaNacimiento"
          >Fecha Nacimiento</label
        >
        <div class="input-group">
          <input
            id="field_fechaNacimiento"
            type="text"
            class="form-control"
            name="fechaNacimiento"
            ngbDatepicker
            #fechaNacimientoDp="ngbDatepicker"
            formControlName="fechaNacimiento"
          />
          <span class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()">
              <fa-icon [icon]="'calendar-alt'"></fa-icon>
            </button>
          </span>
        </div>
      </div>
      <h4>Información de Contacto:</h4>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.telefono" for="field_telefono">Telefono</label>
        <input type="number" class="form-control" name="telefono" id="field_telefono" formControlName="telefono" />
      </div>

      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.email" for="field_email">Email</label>
        <input type="text" class="form-control" name="email" id="field_email" formControlName="email" />
        <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)"></div>
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.direccion" for="field_direccion">Direccion</label>
        <input type="text" class="form-control" name="direccion" id="field_direccion" formControlName="direccion" />
      </div>
      <h4>Días de Vacaciones:</h4>
      <div class="form-group">
        <label class="form-control-label" for="field_diasVacaciones"
          >Dias Vacaciones</label
        >
        <input type="number" class="form-control" name="diasVacaciones" id="field_diasVacaciones" formControlName="diasVacaciones" />
    </div>
    <h4>Formación:</h4>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.especialidad" for="field_especialidad">Especialidad</label>
        <input type="text" class="form-control" name="especialidad" id="field_especialidad" formControlName="especialidad" />
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.nomina" for="field_nomina">Nomina</label>
        <select class="form-control" id="field_nomina" name="nomina" formControlName="nominaId">
          <option [ngValue]="null"></option>
          <option [ngValue]="nominaOption.id" *ngFor="let nominaOption of nominas; trackBy: trackNominaById">{{
            nominaOption.iban
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="form-control-label" jhiTranslate="gimnasioApp.empleado.puesto" for="field_puesto">Puesto</label>
        <select class="form-control" id="field_puesto" name="puesto" formControlName="puestoId">
          <option [ngValue]="null"></option>
          <option [ngValue]="puestoOption.id" *ngFor="let puestoOption of puestos; trackBy: trackPuestoById">{{
            puestoOption.nombre
          }}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
        <div>
            <button class="btn btn-secondary" (click)="modal.close('Close')">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
    </form>
</div>
</div>
