    <div class="modal-header justify-content-center">
            <h2>
                <span class="title-pages" jhiTranslate="gimnasioApp.clase.detail.title" class="title-pages">Clase</span>
                <span style="color: red;">{{clase.nombre}}</span>
            </h2>
    </div>
    <div class="modal-body">
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gimnasioApp.clase.nombre">Nombre</span></dt>
                <dd>
                    <span>{{clase.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{clase.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.lugar">Lugar</span></dt>
                <dd>
                    <span>{{clase.lugar}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.inicio">Inicio</span></dt>
                <dd>
                    <span>{{clase.inicio | date:'mediumDate'}} | {{clase.inicio | date:'shortTime'}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.fin">Fin</span></dt>
                <dd>
                    <span>{{clase.fin | date:'mediumDate'}} | {{clase.fin | date:'shortTime'}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.incidencias">Incidencias</span></dt>
                <dd>
                    <div *ngIf="clase.incidencias; else elseBlock">
                        <a jhiTranslate="gimnasioApp.clase.incidenciasTrue" (click)="incidencia(clase.incidencia)" style="color: red; text-decoration: underline;" >Incidencia</a>
                    </div>
                    <ng-template #elseBlock > <span style="color: green;" jhiTranslate="gimnasioApp.clase.incidenciasFalse">Sin Incidencias</span></ng-template>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.monitor">Monitor</span></dt>
                <dd>
                    <span>{{clase.monitorId}}</span>
                </dd>
            </dl>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info" (click)="modal.close('Back')">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
                <!-- <button type="button"
                    [routerLink]="['/clase', clase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button> -->
            </div>
    </div>
