    <div class="modal-header">
            <h2 class="modal-title" id="modal-basic-title">Clase</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"><fa-icon [icon]="'times'"></fa-icon></button>
    </div>
    <div class="modal-body">
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gimnasioApp.clase.nombre">Nombre</span></dt>
                <dd>
                    <span>{{clase.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{clase.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.lugar">Lugar</span></dt>
                <dd>
                    <span>{{clase.lugar}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.inicio">Inicio</span></dt>
                <dd>
                    <span>{{clase.inicio}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.fin">Fin</span></dt>
                <dd>
                    <span>{{clase.fin}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.incidencias">Incidencias</span></dt>
                <dd>
                    <span>{{clase.incidencias}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.clase.monitor">Monitor</span></dt>
            </dl>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                <!-- <button type="button"
                    [routerLink]="['/clase', clase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button> -->
            </div>
    </div>
