<div class="modal-header justify-content-center">
    <h2>
        <span jhiTranslate="gimnasioApp.vacaciones.detail.title" class="title-pages">Vacaciones</span>
        <span style="color: red;">{{vacaciones.empleadoNombre}}</span>
    </h2>
</div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gimnasioApp.vacaciones.inicio">Inicio</span></dt>
                <dd>
                    <span>{{vacaciones.inicio | date:'longDate'}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.vacaciones.fin">Fin</span></dt>
                <dd>
                    <span>{{vacaciones.fin | date:'longDate'}}</span>
                </dd>
                <dt><span jhiTranslate="gimnasioApp.vacaciones.empleado">Empleado</span></dt>
                <dd>
                    <div *ngIf="vacaciones.empleadoId">
                        <span>{{vacaciones.empleadoNombre}}</span>
                        <!-- <a (click)="empleado(vacaciones.empleadoId)">{{vacaciones.empleadoNombre}}</a> -->
                    </div>
                </dd>
            </dl>
        <div class="modal-footer justify-content-center">

        <button type="button"
                (click)="modal.close('Close')"
                class="btn btn-info">
            <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                (click)="editar(vacaciones)"
                class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
</div>
