<div class="modal-header">
    <h2 id="jhi-cliente-heading" jhiTranslate="gimnasioApp.cliente.home.createOrEditLabel">Create or edit a Cliente</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"><fa-icon [icon]="'times'"></fa-icon></button>

</div>
<div class="modal-body">

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.dni" for="field_dni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="field_dni"
                           formControlName="dni"/>
                    <div *ngIf="editForm.get('dni').invalid && (editForm.get('dni').dirty || editForm.get('dni').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dni').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.telefono" for="field_telefono">Telefono</label>
                    <input type="number" class="form-control" name="telefono" id="field_telefono"
                           formControlName="telefono"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.fechaNacimiento" for="field_fechaNacimiento">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input id="field_fechaNacimiento" type="text" class="form-control" name="fechaNacimiento" ngbDatepicker  #fechaNacimientoDp="ngbDatepicker" formControlName="fechaNacimiento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaNacimientoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.cliente.ciclo" for="field_ciclo">Ciclo</label>
                    <input type="number" class="form-control" name="ciclo" id="field_ciclo"
                    formControlName="ciclo"/>
                </div>

            </div>
            <div class="modal-footer">

                <div>
                    <button id="cancel-save" class="btn btn-secondary"  (click)="modal.close('Close')">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </div>
        </form>

</div>
