<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.proveedor.home.title" class="title-pages">Proveedors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-proveedor" (click)="editar(proveedor)">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.proveedor.home.createLabel">
            Create new Proveedor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="proveedors">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="nombre"><span jhiTranslate="gimnasioApp.proveedor.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono"><span jhiTranslate="gimnasioApp.proveedor.telefono">Telefono</span>  <fa-icon [icon]="'info-circle'" class="hovertext" data-hover="El teléfono de contacto para llamar"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="gimnasioApp.proveedor.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedors ;trackBy: trackId">
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.telefono}}</td>
                <td>{{proveedor.email}}</td>
               <td>
                    <div class="btn-group" ngbDropdown>
                            <button type="button" class="btn btn-info dropdown-toggle btn-info" data-toggle="dropdown"  aria-expanded="false" ngbDropdownToggle>
                                <fa-icon [icon]="'ellipsis-v'"></fa-icon>
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button (click)="open(proveedor)"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button (click)="editar(proveedor)"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', 'proveedor', { outlets: { popup: proveedor.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="dropdown-item">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="proveedors && proveedors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
