<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cliente-suscripcion-heading" jhiTranslate="gimnasioApp.clienteSuscripcion.home.createOrEditLabel">Create or edit a Cliente Suscripcion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.clienteSuscripcion.ultimoPago" for="field_ultimoPago">Ultimo Pago</label>
                    <div class="input-group">
                        <input id="field_ultimoPago" type="text" class="form-control" name="ultimoPago" ngbDatepicker  #ultimoPagoDp="ngbDatepicker" formControlName="ultimoPago"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="ultimoPagoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('ultimoPago').invalid && (editForm.get('ultimoPago').dirty || editForm.get('ultimoPago').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ultimoPago').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.clienteSuscripcion.metodoPago" for="field_metodoPago">Metodo Pago</label>
                    <input type="text" class="form-control" name="metodoPago" id="field_metodoPago"
                           formControlName="metodoPago"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.clienteSuscripcion.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.clienteSuscripcion.suscripcion" for="field_suscripcion">Suscripcion</label>
                    <select class="form-control" id="field_suscripcion" name="suscripcion" formControlName="suscripcionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="suscripcionOption.id" *ngFor="let suscripcionOption of suscripcions; trackBy: trackSuscripcionById">{{suscripcionOption.periodo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
