@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/pulse/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  margin-left: 10%;
  line-height: 60px;
  text-transform: uppercase;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #301558;
    border-radius: 20px;
  }
  .dropdown-item {
    font-weight: 500;
  }
  .dropdown-item:hover {
    border-radius: 20px;
  }
  .dropdown-menu {
    border: none;
    border-radius: 20px;
  }
  .navbar-title {
    margin-left: 10px;
    color: #000000;
  }
  ul.navbar-nav {
    line-height: 20px;
    .nav-item {
      margin-left: 0.5em;
    }
  }
  ul li.navbar-nav {
    margin-left: 200px;
  }
  a.nav-link {
    font-weight: bold;
  }
  a.nav-link:hover {
    border-bottom: 4px solid #301558;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}
.menu__navbar {
  position: absolute;
  right: 0;
  margin-right: 12%;
}
.lang {
  position: absolute;
  right: 100px;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo.png') no-repeat center center;
  background-size: contain;
}
