<div class="modal-header justify-content-center">
<h2 id="jhi-inventario-heading" jhiTranslate="gimnasioApp.inventario.home.createOrEditLabel" class="title-pages">Create or edit a Inventario</h2>
<button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"><fa-icon [icon]="'times'"></fa-icon></button>
</div>
<div class="modal-body">

    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.ref" for="field_ref">Ref</label>
                    <input type="text" class="form-control" name="ref" id="field_ref"
                           formControlName="ref"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.cantidad" for="field_cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="field_cantidad"
                           formControlName="cantidad"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.estado" for="field_estado">Estado</label>
                    <br>
                    <input type="checkbox" name="estado" id="field_estado"
                           formControlName="estado"/>
                           <span class="checkboxes">¿Disponible?</span>
                </div>
                <h4>Revisión:</h4>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.ultRevision" for="field_ultRevision">Ult Revision</label>
                    <div class="input-group">
                        <input id="field_ultRevision" type="text" class="form-control" name="ultRevision" ngbDatepicker  #ultRevisionDp="ngbDatepicker" formControlName="ultRevision"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="ultRevisionDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.periodoRevision" for="field_periodoRevision">Periodo Revision</label>
                    <input type="number" class="form-control" name="periodoRevision" id="field_periodoRevision"
                    formControlName="periodoRevision"/>
                </div>
                <h4>Información de Contacto:</h4>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gimnasioApp.inventario.proveedor" for="field_proveedor">Proveedor</label>
                    <select class="form-control" id="field_proveedor" name="proveedor" formControlName="proveedorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="proveedorOption.id" *ngFor="let proveedorOption of proveedors; trackBy: trackProveedorById">{{proveedorOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div>
                    <button button="button" (click)="modal.close('Close')" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                      </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
                </form>
            </div>
    </div>
