<div class="modal-header justify-content-center">
  <h2><span jhiTranslate="gimnasioApp.inventario.detail.title">Inventario</span> {{ inventario.nombre }}</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"><fa-icon [icon]="'times'"></fa-icon></button>

  <jhi-alert-error></jhi-alert-error>
</div>
<div class="modal-body">
  <dl class="row-md jh-entity-details">
    <dt><span jhiTranslate="gimnasioApp.inventario.ref">Ref</span></dt>
    <dd>
      <span>{{ inventario.ref }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.nombre">Nombre</span></dt>
    <dd>
      <span>{{ inventario.nombre }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.descripcion">Descripcion</span></dt>
    <dd>
      <span>{{ inventario.descripcion }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.cantidad">Cantidad</span></dt>
    <dd>
      <span>{{ inventario.cantidad }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.estado">Estado</span></dt>
    <dd>
      <span>{{ inventario.estado }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.ultRevision">Ult Revision</span></dt>
    <dd>
      <span>{{ inventario.ultRevision }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.periodoRevision">Periodo Revision</span></dt>
    <dd>
      <span>{{ inventario.periodoRevision }}</span>
    </dd>
    <dt><span jhiTranslate="gimnasioApp.inventario.proveedor">Proveedor</span></dt>
    <dd>
      <div *ngIf="inventario.proveedorId">
        <a [routerLink]="['/proveedor', inventario.proveedorId, 'view']">{{ inventario.proveedorId }}</a>
      </div>
    </dd>
  </dl>
  <div class="modal-footer justify-content-center">
    <button button="button" (click)="modal.close('Close')" class="btn btn-info">
      <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" (click)="editar(inventario)" class="btn btn-primary">
      <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
  </div>
</div>
