<div>
    <h2 id="page-heading">
        <span jhiTranslate="gimnasioApp.puesto.home.title">Puestos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-puesto" (click)="editar(puesto)">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gimnasioApp.puesto.home.createLabel">
            Create new Puesto
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="puestos">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="gimnasioApp.puesto.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="horario"><span jhiTranslate="gimnasioApp.puesto.horario">Horario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="salario"><span jhiTranslate="gimnasioApp.puesto.salario">Salario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let puesto of puestos ;trackBy: trackId">
                <td><a [routerLink]="['/puesto', puesto.id, 'view' ]">{{puesto.id}}</a></td>
                <td>{{puesto.nombre}}</td>
                <td>{{puesto.horario}}</td>
                <td>{{puesto.salario}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button (click)="open(puesto)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button (click)="editar(puesto)"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'puesto', { outlets: { popup: puesto.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="puestos && puestos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
